
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
allure-results/26c5a557-30d4-4072-ac87-2f672da1d480-attachment.md
allure-results/6e397162-07db-43d3-b47d-5753daa1a113-attachment.md
allure-results/83635808-a361-4a01-9cdc-61771192e9ab-result.json
allure-results/c165454d-cea8-48ff-9977-890b47f78022-result.json
allure-results/dc7c1657-9bb4-4a5a-ac82-d49ad7e12ccd-result.json
